.zhsl-case-edit-row-wrapper-ie {
  line-height: normal!important;
  margin: 4px -15px;
}

.dckh-tjjg-panel-ie .dckh-bar .el-date-editor {
  position: relative;
  top: 7px;
}

.dckh-kbjkh-panel-ie .dckh-bar .el-date-editor {
  position: relative;
  top: 7px;
}

.zhsl-dispatch-helper .tree-panel-ie .el-tree-node__expand-icon {
  margin-top: -27px;
}

.dckh-tjjg-panel-ie .dckh-bar .el-select {
  top: 7px;
}

.dxgl-ie .dxgl-bar .el-input {
  top: 8px;
}

.case_video_report_dialog {
  width: 618px !important;
}
